/* General */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 2240px;
}

a {
    text-decoration: none;
}


.button {
    width: 298px;
    height: 54px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    font-weight: 500;
    line-height: 140%;
}

.button:hover {
    background-color: orange;
}

.button:active {
    background-color: green;
}




/* Container and wrapper */
.container {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
    width: 100%;
}

/* Header */
.header {
    background-color: black;
    position: relative;
    z-index: 1;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0 2px 0;
    position: relative;
    z-index: 1;
}

.header__menu {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header__logo {
    max-width: 82px;
    margin-left: -10px;
    margin-right: 23px;
}

.header__logo__bamboo {
    position: absolute;
    top: 38px;
    margin-left: 10px;
}

h1 {
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    vertical-align: center;
    border: 1.18841px solid white;
    padding-top: 4px;
}

h1 a {
    color: white;
}

.menu__list {
    display: flex;
}

.menu__list li {
    margin-right: 58px;
    list-style-type: none;
    font-weight: 500;
}

.menu__list a {
    color: white;
}

.menu__link:hover {
    color: orange;
}

.menu__link:active {
    color: green;
}

a.donate {
    color: orange;
    cursor: default;
}

.designed {
    color: white;
    font-weight: 500;
    margin-right: 1px;
}
.menu__burger {
    display: none;
}

.designed:hover {
    text-decoration: underline;
}

/* Menu-burger */
.header__logo h2 {
    border: 1.18841px solid #FE9013;
    font-weight: 400;
    font-size: 15.2116px;
    line-height: 120%;
    text-align: center;
    vertical-align: center;
    padding-top: 4px;
    border-radius: 1px;
}

.header__logo h2 a {
    color: #FE9013;
    padding: 0;
}

.navbar__wrap {
    margin-left: 38px;
    margin-top: 10px;
}

.navbar .header__logo {
    width: 66px;
    height: 42px;
    margin-top: -3px;
}

.navbar .header__logo__bamboo {
    position: absolute;
    top: 28px;
    margin-left: 26px;
}

.wrapper__menu {
    margin-top: 32px;
    margin-left: -68px;
}

.burger__menu li {
    list-style-type: none;
    margin-bottom: 19px;
}

.burger__menu li a {
    color: black;
    font-size: 16px;
}

.close__bm {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
}

.close__bm img {
    width: 100%;
}

.navbar {
    background-color: white;
    position: fixed;
    z-index: 100000000;
    left: -100%;
    width: 100%;
    transition: 0.4s;
    margin-top: -25px;
}
.navbar.open {
    left: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: -200%;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    background-color: black;
    opacity: 0.5;
    margin-top: 308px;
}

.overlay.open {
    left: 0;
}

body.noscroll {
    overflow-y: hidden;
}

/* background__panda */
.background__panda {
    height: 390px;
    background-image: url('../../assets/images/panda_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    bottom: 4px;
}


/* feed__friend */
.feed__friend {
    height: 1482px; /*
    gew
    few
    fe
    bf
bfd
bfd
    */
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    position: relative;
    bottom: 34px;
}

.feed__friend__content {}

.content__title {
    font-weight: 400;
    font-size: 36px;
    color: white;
    padding-top: 43px;
}

.content__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    margin-top: -18px;
    margin-bottom: 46px;
}

.content__text span {
    font-weight: 400;
}

.donation__info {
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    margin-bottom: 59px;
}

.donate__ {
    background: rgba(255, 255, 255, 0.52);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    border-radius: 20px;
}

.wrpr {
    max-width: 976px;
    margin: 0 auto;
    width: 100%;
}

.donate__title {
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
    font-weight: 400;
    text-align: center;
    padding-top: 40px;
    margin-left: -13px;
    margin-bottom: -3px;
}

.donate__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.donate__widget {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate__diet {
    text-align: center;
    margin-top:108px;
}

.donate__diet .p1 {
    font-weight: 500;
    font-size: 72px;
    color: black;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    right: 1px;
}

.donate__diet.donate__diet .p2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    position: relative;
    bottom: 18px;
    right: 1px;
}

.p3 {
    display: none;
}

.donate__icon {
    margin-left: 11px;
    margin-right: 76px;
    margin-top: 64px;
}

.donate__panda {
    position: relative;
    right: 14px;
    margin-top: 36px;
}

.donate__amount {
    line-height: 140%;
    color: black;
    font-weight: 400;
    margin-top: 43px;
    margin-left: 4px;
}

/*.donate__dollars {
    margin-top: 17px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
}*/
#form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    position: relative;
}

.slider1000 {
    display: none;
}
.slider640 {
    display: none;
}

form {
    width: 100%;
}

form #debt-amount-slider {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    left: -33px;
    width: 106.4%;
    height: 50px;
    user-select: none;
    position: absolute;
    bottom: -11px;
}

form #debt-amount-slider::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 100%;
    width: calc(100% * (8.8 / 10));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #72828E;
}

form #debt-amount-slider input,
form #debt-amount-slider label {
    box-sizing: border-box;
    flex: 1;
    user-select: none;
    cursor: pointer;
}

form #debt-amount-slider label {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
    user-select: none;
}

form #debt-amount-slider label::before {
    content: attr(data-debt-amount);
    position: absolute;
    left: 60%;
    margin-top: 10px;
    transform: translate(-50%, 45px);
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0.85;
    transition: all 0.15s ease-in-out;
    color: #333B41;
}

form #debt-amount-slider label::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 26px;
    font-weight: 500;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #FFEE2E;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

form #debt-amount-slider label:hover::after {
    transform: translate(-50%, -50%) scale(1.25);
}

form #debt-amount-slider input {
    display: none;
}

form #debt-amount-slider input:checked+label::before {
    font-weight: 600;
    opacity: 1;
}

form #debt-amount-slider input:checked+label::after {
    border-width: 4px;
    transform: translate(-50%, -50%) scale(0.75);
    content: '';
    position: absolute;
    background-image: url('../../assets/images/circles.png');
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
}

form #debt-amount-slider input:checked~#debt-amount-pos {
    opacity: 1;
}

form #debt-amount-slider input:checked:nth-child(1)~#debt-amount-pos {
    left: 10%;
}

form #debt-amount-slider input:checked:nth-child(3)~#debt-amount-pos {
    left: 30%;
}

form #debt-amount-slider input:checked:nth-child(5)~#debt-amount-pos {
    left: 50%;
}

form #debt-amount-slider input:checked:nth-child(7)~#debt-amount-pos {
    left: 70%;
}

form #debt-amount-slider input:checked:nth-child(9)~#debt-amount-pos {
    left: 90%;
}

form #debt-amount-slider #debt-amount-pos {

}

form:valid #debt-amount-slider input+label::before {
    transform: translate(-50%, 45px) scale(0.9);
    transition: all 0.15s linear;
}

form:valid #debt-amount-slider input:checked+label::before {
    transform: translate(-50%, 45px) scale(1.1);
    transition: all 0.15s linear;
    color: #FE9013;
}

form:valid #debt-amount-slider input:checked::before {
    content: '';
    position: absolute;
    background-image: url('../../assets/images/circles.png');
    left: 50px;
    top: 50px;
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }

    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}

.donate__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 98px;
    padding-bottom: 48px;
}

input[type="number"] {
    width: 268px;
    height: 54px;
    background-color: #FEE5D4;
    border: 1px solid #929699;
    color: #929699;
    padding-left: 9px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donate__number__input {
    position: relative;
    background-image: url('../../assets/icons/dollar.png');
    background-position: 96.6% 50%;
    background-repeat: no-repeat;
}

.donate__radio__buttons {
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
    width: 280px;
    margin-left: 5px;
}

.donate__radio__buttons label {
    line-height: 140%;
    color: #333B41;
    font-weight: 400;
}

input[type="radio"] {
    -webkit-appearance: none;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FE9013
}

input[type="radio"]:checked {
    background-color: green;
    border: 1px solid green;
}

.rb__first {
    margin-right: 0;
    position: relative;
    right: 21px;
}

.rb_second {
    margin-left: -76px;
}

.button {
    width: 298px;
    height: 54px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    font-weight: 500;
    line-height: 140%;
}

.feed__friend__now {
    border-radius: 25px;
    background-color: #FE9013;
    margin-top: 28px;
    margin-left: 3px;
    padding-left: 13px;
    padding-top: 2px;
}

.donate__share {
    margin-top: 32px;
    margin-left: 8px;
}

/* Footer */
.footer {
    position: relative;
    bottom: 34px;
    height: 443px;
    background-color: #111115;
}

.footer .wrapper {
    position: relative;
}

.footer__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__logo {
    max-width: 82px;
}

.footer__logo__bamboo {
    position: absolute;
    top: 62px;
    margin-left: 10px;
}

.footer__logo h2 {
    position: relative;
    bottom: 16px;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    vertical-align: center;
    border: 1.18841px solid white;
    padding-top: 1px;
    padding-bottom: 3px;
}

.footer__logo h2 a {
    color: white;
}

.subscribe__form {
    width: 367px;
}

.subscribe__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: white;
    margin-top: 42px;
    margin-bottom: 13px;
}

.form {
    display: flex;
    align-items: center;
}

input[type=email] {
    background-color: #111115;
    width: 228px;
    border: 1px solid #BF6736;
    height: 42px;
    padding-left: 9px;
    color: #BDBDBD;
    margin-right: 10px;
}

.form-btn {
    width: 129px;
    height: 42px;
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    color: #4B9200;
    cursor: pointer;
}

.form-btn:hover {
    background-color: #ffd8d8;
}

.wrapper__wrapper {
    width: 100%;
}

.wrapper__donat__button {
    margin-top: 36px;
    width: 298px;
}

.donate__button {
    background-color: #FB8635;
    border-radius: 5px;
    cursor: pointer;
}

.footer__menu__body {
    position: relative;
    top: 14px;
    left: 56px;
}

.link {
    color: white;
}

.designer__end {
    position: relative;
    top: 18px;
    right: 1px;
}

.footer__designed {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: white;
    margin-bottom: -5px;
    position: relative;
    bottom: 16px;
    line-height: 200%;
}

.footer__designed:hover {
    text-decoration: underline;
    color: green;
    cursor: pointer;
}

.span:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -18px;
    z-index: 0;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background-color: #767474;
}

.network__icons {
    position: relative;
    top: 32px;
    left: -23px;
}

.nw_ic2 {
    display: none;
}

.network {
    position: relative;
    left: -9px;
    top: 1px;
}

.fb {}

.tw {
    left: -12px;
    top: 1px;
}

.inst {
    left: -13px;
    top: 1px;
}

.youtube {
    left: -14px;
    bottom: 1px;
}

.network__item {
    margin-bottom: 17px;
}

.network__item:hover {
    color: green;
}

.network__item a {
    position: relative;
    color: white;
    text-align: left;
}

.net__link:hover {
    color: green;
}

.network__item:hover .net__link>.span::before {
    background-color: #4B9200;
}


/* Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery*/
/* Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery*/
/* Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery*/
/* Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery*/
/* Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery Mediaquery*/

@media screen and (max-width: 1599px) {
    .wrapper {
        max-width: 940px;
    }

    .menu__list li {
        margin-right: 48px;
    }

    .background__panda {
        background-position: 28.6%;
        height: 394px;
    }

    .feed__friend {
        height: 1400px;
    }
    .content__title {
        max-width: 800px;
        line-height: 130%;
        padding-top: 40px;
    }
    .content__text {
        margin-top: 0px;
    }
    .donation__info {
        margin-bottom: 38px;
    }
    .donate__title {
        padding-top: 18px;
    }
    .donate__text {
        margin-left: 47px;
        margin-top: 15px;
    }
    .slider1600 {
        display: none;
    }
    .slider1000 {
        display: block;
    }
    .donate__amount {
        margin-left: 65px;
    }
    #form-wrapper {
        width: 810px;
        margin-left: 65px;
    }
    form #debt-amount-slider {
        left: -49px;
        width: 112.4%;
    }
    form #debt-amount-slider::before {
        content: " ";
        position: absolute;
        height: 2px;
        width: 100%;
        width: calc(98% * (8.8 / 10));
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #72828E;
    }
    .donate__share {
        margin-left: 3px;
        margin-bottom: 1px;
    }
    
    .footer {
        margin-top: -67px;
    }
    .subscribe__form {
        position: relative;
        right: 32px;
    }
    .network__icons {
        margin-top: 16px;
    }
    .footer__menu__body {
        top: 15px;
        left: 51px;
    }
    .footer__designed {
        bottom: 16px;
        right: 1px;
    }
}

@media screen and (max-width: 999px) {
    body {
        height: 1930px;
    }

    .wrapper {
        max-width: 600px;
    }

    .header {
        height: 34px;
        margin-bottom: 45px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100000;
    }
    
    .header__menu__body {
        display: none;
    }
    div .designed {
        display: none;
    }
    .menu__burger {
        display: block;
        margin-top: -10px;
    }
    .menu__burger:hover {
        cursor: pointer;
    }
    .header__logo {
        margin-top: -10px;
        margin-left: -28px;
    }
    h1 {
        font-size: 12.2899px;
        border: none;
    }
    .header__logo__bamboo {
        top: 14px;
        left: -8px;
    }
    .header__logo__bamboo img {
        width: 8px;
    }

    .background__panda {
        height: 358px;
        background-position: 37%;
        background-size: 223%;
        margin-top: 25px;
    }

    .content__title {
        font-size: 24px;
        line-height: 120%;
        padding-top: 30px;
    }
    .donation__info {
        margin-top: -19px;
    }
    .donate__ {
        margin-top: -9px;
    }
    .donate__title {
        padding-top: 29px;
        margin-left: 1px;
    }
    .donate__text {
        margin-top: 26px;
        margin-left: 0px;
        text-align: center;
    }
    .donate__widget {
        margin-top: -10px;
    }
    .donate__amount {
        margin-top: 35px;
        margin-left: 10px;
    }
    #form-wrapper {
        width: 600px;
        margin-left: 0;
        margin-top: -8px;
    }
    form #debt-amount-slider {
        left: -26px;
        width: 108.4%;
    }
    form #debt-amount-slider label::before {
        left: 50%;    
    }
    form #debt-amount-slider::before {
        content: " ";
        position: absolute;
        height: 2px;
        width: 100%;
        width: calc(92% * (8.8 / 10));
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #72828E;
    }
    input[type="number"] {
        width: 180px;
        height: 42px;
        padding-left: 5px;
    }
    .donate__number__input {
        position: relative;
        background-image: url(../../assets/icons/dollar.png);
        background-position: 94.6% 50%;
        background-repeat: no-repeat;
    }
    .donate__radio__buttons {
        margin-top: 30px;
    }
    .feed__friend__now {
        margin-top: 29px;
        padding-left: 9px;
    }
    .wrpr {
        height: 918px;
    }


    .footer {
        height: 282px;
    }
    .footer .container {
        height: 282px;
    }
    .footer .container .wrapper{
        height: 282px;
    }
    .subscribe__form {
        display: none;
    }
    .footer__logo {
        order: -2;
    }
    .network__icons {
        order: -1;
    }
    .nw_ic1 {
        display: none;
    }
    .nw_ic2 {
        display: block;
    }
    .footer__content {
        align-items: center;
        height: 282px;
    }
    .footer__logo {
        margin-top: -70px;
    }
    .footer__logo__bamboo {
        top: 33px;
    }
    .network__icons {
        margin-right: -33px;
        margin-top: -16px;
        position: relative;
        top: 32px;
    }
    .network__icons li {
        margin-bottom: 26px;
    }
    .wrapper__donat__button {
        margin-top: -84px;
    }
    .footer__menu__body {
        left: -40px;
        top: 48px;
    }
    .menu__list li {
        margin-right: 37px;
    }
    .designer__end {
        position: relative;
        left: 373px;
        top: -27px;
    }


    .slider1000 {
        display: none;
    }
    .slider640 {
        display: block;
    }
}

@media screen and (max-width: 639px) { 
    .wrapper {
        max-width: 300px;
    }

    .navbar {
        margin-top: -28px;
    }

    body {
        max-height: 1678px;
    }

    .header {
        height: 35px;
    }
    .background__panda {
        height: 207px;
        background-position: 33%;
        background-size: 236% 90%;
        margin-top: 28px;
    }

    .content__text {
        line-height: 22px;
    }
    .donation__info {
        font-size: 24px;
        margin-top: -17px;
    }
    .donate__title {
        font-size: 24px;
        padding-top: 21px;
    }
    .donate__text {
        font-size: 16px;
        margin-top: 12px;
        line-height: 22px;
    }
    .donate__panda img {
        width: 160px;
    }
    .donate__diet .p1 {
        font-size: 40px;
    }
    .donate__diet:last-child {
        font-size: 8px;
    }
    .p2 {
        display: none;
    }
    .p3 {
        display: block;
    }
    .donate__diet {
        margin-top: 47px;
        margin-left: 10px;
        margin-right: -10px;
    }
    .donate__icon {
        margin-top: 19px;
        margin-right: 42px;
    }
    .donate__icon img {
        width: 8px;
    }
    .donate__panda {
        margin-top: 0;
        right: 5px;
        top: 5px;
    }
    .p1 {
        position: relative;
        left: -5px;
        top: 0px;
    }
    .p3 {
        position: relative;
        left: -5px;
        top: -7px;
    }
    .donate__amount {
        margin-top: 4px;
        margin-left: 0;
    }
    #form-wrapper {
        width: 300px;
        height: 13.5px;
        margin-left: 0;
        margin-top: -8px;
    }
    form #debt-amount-slider {
        left: -15px;
        width: 108.4%;
    }
    form #debt-amount-slider::before {
        content: " ";
        position: absolute;
        height: 2px;
        width: 100%;
        width: calc(92% * (8.8 / 10));
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #72828E;
    }
    form #debt-amount-slider label::after {
        left: 50%;
        top: 65%;
        width: 5px;
        height: 5px;
    }
    form #debt-amount-slider label::before {
        margin-top: 3px;
        font-size: 13px;
        font-weight: 700;
    }
    form #debt-amount-slider input:checked+label::after {
        border-width: 4px;
        transform: translate(-50%, -50%) scale(0.75);
        content: '';
        position: absolute;
        background-image: url('../../assets/images/circles.png');
        left: 50%;
        top: 65%;
        height: 20px;
        width: 20px;
        background-size: 20px 20px;
    }
    .donate__middle {
        margin-top: 50px;
    }
    .donate__radio__buttons {
        margin-top: 25px;
    }
    .feed__friend__now {
        margin-top: 27px;
        margin-left: 0;
    }
    .donate__share {
        margin-left: 0;
        margin-top: 31px;
        min-width: 301px;
    }
    .wrpr {
        max-height: 590px;
    }
    .feed__friend {
        max-height: 1295px;
    }


    .footer {
        margin-top: -149px;
        height: 340px;
    }
    .footer__content {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 339px;
    }
    .footer__logo { 
        margin-top: 20px;
        margin-left: -101px;
    }
    .footer__logo__bamboo {
        top: 18px;
        margin-left: 73px;
    }
    .footer__logo h2 {
        border: none;
        width: 128px;
    }
    .nw_ic2 {
        display: flex;
        margin-top: -50px;
        margin-left: -8px;
    }
    .nw_ic2 li {
        margin-right: 42px;
    }
    .wrapper__donat__button {
        margin-top: 0px;
        margin-left: -78px;
    }
    .wrapper__wrapper {
        width: 200px;
    }
    .designer__end {
        left: 17px;
        top: -63px;
    }
    .designer__end p {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 0.5px;
        line-height: 30px;
    }
    .footer__menu__body {
        top: 75px;
        margin-left: 10px;
    }
    .footer__menu__body .menu__list li {
        margin-right: 28px;
        max-width: 90px;
    }
}